.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin: 50px auto;
  padding: 125px auto;
}

.hearts {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 1px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

h1 {
  font-size: 150px;
  margin: 10px auto;
}

h2 {
  font-size: 125px;
  margin: 10px auto;
}
