.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin-top:60px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 150px;
  margin:10px auto;
}

h2 {
  font-size: 125px;
  margin: 10px auto;
}
